@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Happiness-Sans-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  border-bottom: 1px solid #ccc;
}
.header .inn {
  margin: 32px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
}
.header ul li {
  margin-right: 50px;
}
.header ul li a {
  display: block;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.header ul li a p {
  margin-top: 10px;
}

.wrap .main {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrap .main .point {
  white-space: nowrap;
  width: 100%;
  margin-right: 50%;
  font-family: "TheJamsil5Bold";
  color: #eee;
  cursor: default;
  position: absolute;
  z-index: 0;
  background-attachment: scroll;
  font-size: 650px;
  opacity: 0.5;
}
.wrap .main .move-bg .txt {
  z-index: 88;
  font-family: "TheJamsil5Bold";
  position: relative;
  color: #000;
  font-size: 6rem;
}
.wrap .main .move-bg .txt p:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-self: start;
}
.wrap .main .move-bg .txt .eart {
  font-size: 6rem;
  margin-top: 15px;
}
.wrap .main .move-bg .txt .eart img {
  width: 5rem;
  height: 5rem;
}
.wrap .intro {
  position: relative;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.wrap .intro .point {
  white-space: nowrap;
  width: 100%;
  font-family: "TheJamsil5Bold";
  font-size: 525px;
  position: absolute;
  z-index: 0;
  background-attachment: scroll;
  color: #eee;
  opacity: 0.5;
}
.wrap .intro p {
  text-align: left;
  width: 1060px;
  font-family: "Happiness-Sans-Bold";
  z-index: 88;
  color: #000;
  font-size: 110px;
  line-height: 1.4;
  font-size: 30px;
  text-align: center;
}
.wrap .project {
  font-family: "Happiness-Sans-Bold";
}
.wrap .project .move-bg h2 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 110px;
}
.wrap .project .move-bg ul {
  margin: 0 auto;
}
.wrap .project .move-bg ul li {
  height: 180px;
  border: 1px solid darkgray;
  border-bottom: 0;
  border-right: 0;
}
.wrap .project .move-bg ul li :hover {
  background-color: #eee;
}
.wrap .project .move-bg ul li:last-child {
  border-bottom: 1px solid darkgray;
}
.wrap .project .move-bg ul li a {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .project .move-bg ul li a .one_box {
  width: 330px;
}
.wrap .project .move-bg ul li a .one_box strong {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.8rem;
}
.wrap .project .move-bg ul li a .one_box p {
  color: rgba(0, 0, 0, 0.5490196078);
  font-size: 1rem;
  white-space: pre-wrap;
  line-height: 1.3;
}
.wrap .project .move-bg ul li a figure {
  width: 150px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  -o-object-fit: cover;
  object-fit: cover;
}
.wrap .project .move-bg ul li a figure img {
  width: 100%;
  height: 100%;
}
.wrap .project .move-bg ul li a figure:hover {
  opacity: 1;
}
.wrap .project .move-bg ul li a .two_box a {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.wrap .project .move-bg ul li a .two_box a .arow {
  width: 12px;
}
.wrap .project .move-bg ul li a .two_box a .link img {
  height: 25px;
}
.wrap .project .move-bg ul li a .two_box a :first-child {
  margin-left: 5px;
  margin-right: 10px;
}
.wrap .project .move-bg ul li a .two_box .icon {
  display: flex;
  justify-content: center;
}
.wrap .contact .area {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin: 0 30px;
}
.wrap .contact .area .tit {
  margin-left: 95px;
}
.wrap .contact .area .tit a {
  font-weight: bold;
  font-size: 7rem;
}
.wrap .contact .area .cont_wrap {
  margin-right: 95px;
}
.wrap .contact .area .card {
  background: #eee;
  width: 320px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  /* Hover effect to flip the card */
}
.wrap .contact .area .card .front,
.wrap .contact .area .card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease;
  backface-visibility: hidden; /* Hide the backface of the element */
}
.wrap .contact .area .card .front {
  background-image: url("./mouse.png");
  background-repeat: no-repeat;
  background-position: center;
}
.wrap .contact .area .card .back {
  background-image: url("./code.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
.wrap .contact .area .card:hover .front {
  transform: rotateY(180deg);
}
.wrap .contact .area .card:hover .back {
  transform: rotateY(0deg);
}
.wrap .contact .area p {
  margin: 20px 0 20px 0;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: right;
}
.wrap .contact .area .link .wrap {
  display: flex;
  justify-content: flex-end;
}
.wrap .contact .area .link .wrap a img {
  height: 30px;
}
.wrap .contact .area .link .wrap a img:first-child {
  margin-left: 10px;
}
.wrap .contact .tag {
  height: 10vh;
  position: relative;
}
.wrap .contact .tag .move {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  background: none;
  width: 4000px;
  height: 100%;
  overflow: hidden;
  animation: letter 35s linear infinite;
}
.wrap .contact .tag .move2 {
  animation-delay: -17.5s;
}
.wrap .contact .tag span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  font-size: 2.6rem;
}
.wrap .contact .tag span:first-child {
  margin-bottom: 20px;
}
@keyframes letter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wrap .contact .tag .line {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  background: none;
  width: 3200px;
  overflow: hidden;
  animation: letter 35s linear infinite;
}

.footer {
  height: 40px;
  border-top: 1px solid black;
}
.footer .inn {
  height: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .inn .hub {
  display: flex;
  align-items: center;
}
.footer .inn .hub img {
  margin-right: 5px;
  width: 25px;
}
.footer .inn p {
  font-size: 13px;
}

.thumb {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  pointer-events: none;
}

@media (max-width: 767px) {
  .move-bg {
    font-size: 5rem;
  }
}